extends layout

block content
    if !user
        div.main.unauth
            h1 Become a 
                span.emph better
                |  person.
            hr
            p We help you get rid of bad habits and develop good ones.
            a.btn.btn-primary(href='/login', role='button') Start today
    else
        div.main.auth
            if user.profile.firstName
                h1 Welcome to your dashboard, #{user.profile.firstName}!
                hr
                .col-sm-6
                    h2 Swear Information
                        if user.data.swear.length > 0
                            each entry in user.data.swear
                                h3= entry.date.format("MMM D, Y")
                                p= entry.date.format("h:m A")
                                    | : 
                                    span.red.bold= '+' + entry.swearCount
                        else
                            h3 There is no swear info. 
                                .i.fa.fa-smile-o
                    #chart
                .col-sm-6
                    h2 Balance Info
                if user.account.balance > 15
                    .form-inline.has-success
                        .input-group.bold
                            .input-group-addon $
                            input.form-control.form-control-success(type='number', name='balance', id='balance', value=user.account.balance.toFixed(2), readonly)
                        p.text-success Your balance is good!
                else if user.account.balance > 0
                    .form-inline.has-warning
                        .input-group.bold
                            .input-group-addon $
                            input.bold.form-control.form-control-warning(type='number', name='balance', id='balance', value=user.account.balance.toFixed(2), readonly)
                        p.text-warning Your balance is almost empty.
                else
                    .form-inline.has-danger
                        .input-group.bold
                            .input-group-addon $
                            input.form-control.form-control-danger(type='number', name='balance', id='balance', value=user.account.balance.toFixed(2), readonly)
                        p.text-danger Your balance is empty!
                    
            else
                h1 Welcome!
