extends layout

block content
    if !user
        div.main.unauth
            h1 Become a 
                span.emph better
                |  person.
            hr
            p We help you get rid of bad habits and develop good ones.
            a.btn.btn-primary(href='/login', role='button') Start today
    else
        div.main.auth
            if user.profile.firstName
                h1 Welcome to your dashboard, #{user.profile.firstName}!
                hr
                .row
                    .col-sm-6
                        h2 Balance Info
                        if user.account.balance > 15
                            .form-inline.has-success
                                .input-group.input-group-lg.bold
                                    .input-group-addon $
                                    input.form-control.form-control-success(type='number', name='balance', id='balance', value=user.account.balance.toFixed(2), readonly)
                                h3.text-success Your balance is good!
                        else if user.account.balance > 0
                            .form-inline.has-warning
                                .input-group.input-group-lg.bold
                                    .input-group-addon $
                                    input.bold.form-control.form-control-warning(type='number', name='balance', id='balance', value=user.account.balance.toFixed(2), readonly)
                                h3.text-warning Your balance is almost empty.
                        else
                            .form-inline.has-danger
                                .input-group.input-group-lg.bold
                                    .input-group-addon $
                                    input.form-control.form-control-danger(type='number', name='balance', id='balance', value=user.account.balance.toFixed(2), readonly)
                                h3.text-danger Your balance is empty!
                    .col-sm-6
                        h2 Deposit Money
                        form.form-inline(action='/account/goals', method='POST')
                            input(type='hidden', name='dailySwearMax', value=user.account.dailySwearMax)
                            input(type='hidden', name='dailyTimerMax', value=user.account.dailyTimerMax)
                            input(type='hidden', name='home', value="true")
                            .input-group.input-group-lg.bold
                                .input-group-addon $
                                input.form-control.form-control-success(type='number', name='deposit', id='deposit', step='0.01', min='0', value='0.00')
                                span.input-group-btn
                                    button.btn.btn.btn-primary(type='submit')
                                        i.fa.fa-thumbs-o-up
                .row
                    .col-sm-6
                        h2 Sin Info
                        #accordion(role='tablist', aria-multiselectable='true')
                            
                            if user.data.length > 0
                                each entry, index in user.data
                                    - var temp = 'day' + index
                                    - var temp2 = 'card' + index
                                    .card
                                        .card-header(id='temp', role='tab')
                                            h3
                                                a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#' + temp2, aria-expanded='true', aria-controls=temp2)= entry.date.format('MMM D, Y')
                                            .collapse(id=temp2, role='tabpanel', aria-labelledby=temp2)
                                                .card-block
                                                    each action in entry.actions
                                                        if action.actionType == 'timerDone'
                                                            p= action.time.format('h:mm A')
                                                                | : #{action.actionType}, 
                                                                span.green.bold= '-' + action.amountDeducted
                                                        else
                                                            p= action.time.format('h:mm A')
                                                                | : #{action.actionType}, 
                                                                span.red.bold= '-' + action.amountDeducted
                                                    h4= "Total money lost: " + entry.totalMoneyLost
                                                    h4= "Total money earned: " + entry.totalMoneyEarned
                            else
                                h3 You have commited no sins! 
                                    .i.fa.fa-smile-o
                    .col-sm-6
                        #swear-chart
                        #timer-chart

            else
                h1 Welcome!
    script.
        var user = !{JSON.stringify(user)};
        var data = user.data;
        if (data.length > 0) {
            var currMoment = moment();
            var startMoment = moment(data[0].date);
            var len = currMoment.diff(startMoment, "days") + 1;
            len = Math.min(len, 7);

            var count = 0;
            var dates = [];
            var swears = [];
            var timers = [];
            var timersDone = [];
            var swearLimit = [];
            var timerLimit = [];    
            for (var i = data.length - 1; i >= 0; i--) {
                var diff = currMoment.diff(data[i].date, "days");
                swears.push(data[i].swearCount);
                timers.push(data[i].timerCount);
                timersDone.push(data[i].timerDoneCount);
                dates.push(moment(data[i].date).format("MM-DD"));
                swearLimit.push(user.account.dailySwearMax);
                timerLimit.push(user.account.dailyTimerMax);
            }
            swears.unshift('swears');
            timers.unshift('fail');
            timersDone.unshift('success');
            dates.unshift('dates');
            swearLimit.unshift('limit');
            timerLimit.unshift('limit');

            var swearChart = c3.generate({
                bindto: '#swear-chart',
                title: {
                    text: 'Swearing Sins vs Time'
                },
                data: {
                    x: 'dates',
                    xFormat: '%m-%d',
                    columns: [
                        dates,
                        swearLimit,
                        swears
                    ],
                    type: 'area-spline',
                    /*
                    types: {
                        swearLimit: 'area-spline',
                        swears: 'area-spline',
                    },
                    */
                    colors: {
                        limit: '#333333',
                        swears: '#d62728'
                    },
                    labels: true
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%m-%d'
                        }
                    }
                }
            });
            
            var timerChart = c3.generate({
                bindto: '#timer-chart',
                title: {
                    text: 'Timer Sins vs Time'
                },
                data: {
                    x: 'dates',
                    xFormat: '%m-%d',
                    columns: [
                        dates,
                        timerLimit,
                        timers,
                        timersDone,
                    ],
                    type: 'area-spline',
                    colors: {
                        limit: '#333333',
                        fail: '#d62728',
                        success: '#16f170'
                        //timers: '#ff7f0e'
                    },
                    labels: true
                },
                axis: {
                    x: {
                        type: 'timeseries',
                        tick: {
                            format: '%m-%d'
                        }
                    }
                }
            });
        }
